.ipynb_checkpoints/
__pycache__/
pages1/
poppler-23.11.0/
**/*.xlsx
**/*.csv
**/*.html
**/*.png
**/*.tif
**/*.pdf
**/.ipynb_checkpoints/
**/__pycache__/
**/build
**/dist
**/img
**/*.spec
.streamlit/secrets.toml
**/*.pkl
**/*.faiss
**/*.py1